[submodule ".janus/colorizer"]
	path = .janus/colorizer
	url = https://github.com/vim-scripts/colorizer.git
[submodule ".janus/velocity"]
	path = .janus/velocity
	url = https://github.com/vim-scripts/velocity.vim.git
[submodule ".janus/vim-less"]
	path = .janus/vim-less
	url = https://github.com/groenewege/vim-less.git
[submodule ".janus/vim-slim"]
	path = .janus/vim-slim
	url = https://github.com/bbommarito/vim-slim.git
